@import "reset.css";
@import "commonStyle.css";

/* 主区域 */

.Nav1Container{
    margin-top: 90px;
}

.Nav1Container .Nav1-title h2{
    font-size: 26px;
    color: #000;
}

.Nav1Container .Nav1-main{
    margin-bottom: 20px;
}

.Nav1Container .Nav1-main .Nav1-nav{
    background: #cacaca;
    border-radius: 5px;
    margin-bottom: 40px;
}

.Nav1Container .Nav1-main li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.Nav1Container .Nav1-main li a{
    font-size: 15px;
    color: #000;
}

.Nav1Container .Nav1-main li a:hover{
    color: #37a;
}

.Nav1-main .Nav1-list li:nth-child(even){
    background: #f7f7f7;
}

.Nav1-main .Nav1-list li{
    padding: 30px 60px;
}

.Nav1-main .Nav1-list a{
    margin-right: 50px;
}

.Nav1-main .Nav1-list a img{
    width: 265px;
    height: 165px;
}

.Nav1-main .Nav1-list li .desc{
    width: 540px;
}

.Nav1-main .Nav1-list .right h3 a{
    font-size: 18px;
    margin-bottom: 20px;
}

.Nav1-main .Nav1-list .desc a{
    display: block;
    word-break: break-all;
    overflow: hidden;
    color: #777777;
    font-size: 13px;
}

.Nav1-main .pageNum{
    margin-top: 30px;
    margin-bottom: 30px;
}

.Nav1-main .pageNum .pageList{
    width: 280px;
    margin: 0 auto;
}

.Nav1-main .pageNum .pageList li a{
    font-size: 13px;
    color: #cccccc;
}

.Nav1-main .pageNum .pageList li a:hover{
    color: #000;
}

/* 主区域结束 */